<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>lec02</title>
</head>

<body>
  <script th:inline="javascript" th:if=${janken}>
    window.onload = function () {
      var janken = [[${ janken }]];
      var result_txt = "";
      result_txt = "あなたの手 " + janken.hand + "<br>相手の手 " + janken.enemyHand + "<br>結果 " + janken.result;
      document.getElementById("result").innerHTML = result_txt;
      console.log(janken);
    }
  </script>
  <a href="/logout">ログアウト</a>
  <h3>Hi [[${name}]]!</h3>

  <p>
  <div>
    <a href="/lec02/janken?hand=Gu">グー</a>　
    <a href="/lec02/janken?hand=Tyoki">チョキ</a>　
    <a href="/lec02/janken?hand=Pa">パー</a>
  </div>
  </p>

  <div th:if="${janken}">
    <span id="result">

    </span>
  </div>
</body>

</html>
